<h1>{{title}}</h1>

<form action="">

  <input type="text" [(ngModel)]="nombre" name="nombre">
  <input type="text" [(ngModel)]="apellido" name="apellido" id="">
  <input type="text" [(ngModel)]="cargo" name="cargo" id="">
  <button type="submit" (click)="registrarUsuario()">Registrar</button>

</form>

<br>

<p *ngIf="registrado; else sinRegistrar">{{mensaje}} con el nombre {{nombre}} {{apellido}} <span [ngStyle]=" {color: cargo == 'director' ? 'red' : 'black'}" >{{cargo}}</span> </p>
<p *ngIf="registrado; else sinRegistrar">{{mensaje}} con el nombre {{nombre}} {{apellido}} <span [ngClass]=" {paraDirectores: cargo == 'director'}" >{{cargo}}</span> </p>

<ng-template #sinRegistrar>
  <p>Nadie registrado</p>
</ng-template>

<br>

<ul>
  <li *ngFor="let entrada of entradas; let i = index"><span style="font-size: larger; font-weight: bold;">{{entrada.titulo}}</span>. Entrada{{i}}</li>
</ul>
